@font-face {
  font-family: 'Cooper Black';
  src: url('../font/cooper-black-webfont.woff') format('woff');
}

body {
  font-family: 'Inter', sans-serif;
  text-align: center;
  overflow-x: hidden;
}

.title {
  font-family: 'Cooper Black', sans-serif;
}

.subtitle {
  font-family: 'Cooper Black', sans-serif;
  font-size: 110%;
  margin-bottom: 10vh;
}

#intro .title, #intro .subtitle {
  color: #8FF4EB;
}

#set .title, #set .subtitle,
#tips .title, #tips .subtitle,
#get_involved .title, #get_involved .subtitle,
.final-download .subtitle {
  color: #5D22D2;
}

.tip-contain {
  width: 40%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.bottom_tip {
  margin-top: 8vh !important;
}

#reactions .title, #reactions .subtitle {
  color: #FFE477;
}

.bubble-contain {
}

.bubble-left {
	border-radius: 20px 20px 20px 0;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: left;
  margin-left: 10px;
  background-color: white;
}

.bubble-right {
	border-radius: 20px 20px 0 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-right: 10px;
  text-align: left;
  background-color: white;
}

.upper-margin {
  margin-top: 5vh !important;
}

.bubble p {
  margin-left: 20px;
  margin-right: 20px;
}

#project .title, #project .subtitle {
  color: #FD3B83;
}

.navbar {
  background-color: #5D22D2;
  font-family: 'Cooper Black', sans-serif;
  padding-left: 4vw;
  padding-right: 2vw;
}

.nav-link {
  color: white;
  margin-right: 4vw;
}

.nav-link:hover {
  color: #FDA028;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo-contain {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #5D22D2;
  object-fit: contain;
  max-width: 40$;
}

.logo {
  width: 90%;
}

.intro-description {
  margin-top: 5vh;
  font-size: 140%;
  font-weight: 400;
}

.download-buttons-contain {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.sticker {
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.wraper {
  margin-bottom: 5vh;
}

.sticker {
  width: 100%;
}

.sticker:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#s1 {
  background-image: url(../img/sticker1.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s2 {
  background-image: url(../img/sticker2.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s3 {
  background-image: url(../img/sticker3.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s4 {
  background-image: url(../img/sticker4.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s5 {
  background-image: url(../img/sticker5.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s6 {
  background-image: url(../img/sticker6.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s7 {
  background-image: url(../img/sticker7.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s8 {
  background-image: url(../img/sticker8.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#s9 {
  background-image: url(../img/sticker9.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s10 {
  background-image: url(../img/sticker10.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s11 {
  background-image: url(../img/sticker11.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s12 {
  background-image: url(../img/sticker12.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}


section {
  padding-top: 10vh;
  padding-bottom: 8vh;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
}

#intro {
  background-color: #5D22D2;
}

#reactions {
  background-image: url('../img/bg-reactions.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#project {
  background-color: #FFE477;
}

#get_involved {
  background-color: #8FF4EB;
}

.involved-text {
  text-align: left;
}

.involved-text-2 {
  text-align: center;
  display: none;
}

.invisible_col_2 {
  display: none;
}

.help {
  color: #5D22D2;
}

.gif {
  max-width: 90% !important;
}

.contact_btn {
  margin-top: 8vh !important;
}

.final-download {
  padding-top: 5%;
}

#footer {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer_about {
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 3vh;
  color: white;
  background-color: #5D2ECF;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  margin-left: 0 !important;
}

.footer-text {
  text-align: left;
  font-size: 80%;
}

.poli-logo {
  height: auto !important;
  display: table-cell !important;
  vertical-align: middle !important;
}

@media screen and (max-width: 1000px) {
  .invisible_col {
    display: none;
  }

  .invisible_col_2 {
    display: block;
    height: 5vh;
  }

  .second_tip {
    margin-top: 8vh !important;
  }

  .involved-text {
    display: none;
  }

  .involved-text-2 {
    display: block;
  }

  .download-buttons-contain {
    margin-bottom: 1vh;
  }

}
