@font-face {
  font-family: 'Cooper Black';
  src: url('../font/cooper-black-webfont.woff') format('woff');
}

body {
  font-family: 'Inter', sans-serif;
  text-align: center;
  overflow-x: hidden;
}

.title {
  font-family: 'Cooper Black', sans-serif;
}

.subtitle {
  font-family: 'Cooper Black', sans-serif;
  font-size: 110%;
  margin-bottom: 10vh;
}

.il-sticker {
  position: absolute;
  width: 10vw;

}

.il-sticker:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#illustration1 {
  background-image: url("../img/sticker11.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  left: 5%;
  transform: rotate(-20deg);
}

#illustration2 {
  background-image: url("../img/sticker5.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 15%;
  right: 5%;
  transform: rotate(20deg);
}

#illustration3 {
  background-image: url("../img/sticker2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 65%;
  right: 5%;
  transform: rotate(15deg);
}

#intro .title, #intro .subtitle {
  color: #8FF4EB;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  text-align: center;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

#set .title, #set .subtitle,
#tips .title, #tips .subtitle,
#get_involved .title, #get_involved .subtitle,
.final-download .subtitle {
  color: #5D22D2;
}

.tip-container p {
  margin-top: 3vh;
  margin-bottom: 5vh;
  padding-left: 10%;
  padding-right: 10%;
}

.tip-image {
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  width: 70%;
}

.recap {
  margin-top: 8vh;
  font-weight: bold;
  color: #5D22D2;
}

.bottom_tip {
  margin-top: 8vh !important;
}

#reactions .title, #reactions .subtitle {
  color: #FFE477;
}

.bubble-left {
	border-radius: 20px 20px 20px 0;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: left;
  background-color: white;
}

.bubble-right {
	border-radius: 20px 20px 0 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: left;
  background-color: white;
}

.name {
  font-weight: bold;
}

.upper-margin {
  margin-top: 5vh !important;
}

.bubble p {
  margin-left: 20px;
  margin-right: 20px;
}

#project .title, #project .subtitle {
  color: #FD3B83;
}

.navbar {
  background-color: #5D22D2;
  font-family: 'Cooper Black', sans-serif;
  padding-left: 4vw;
  padding-right: 2vw;
}

.nav-link {
  color: white;
  margin-right: 4vw;
}

.nav-link:hover {
  color: #FDA028;
}

.navbar-toggler-icon {
  background-image: url("../img/hamburger.svg") !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo-contain {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #5D22D2;
  object-fit: contain;
  max-width: 40$;
}

.logo {
  width: 90%;
}

.intro-description {
  margin-top: 5vh;
  font-size: 140%;
  font-weight: 400;
}

.download-buttons-contain {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.sticker {
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.wraper {
  margin-bottom: 5vh;
}

.sticker {
  width: 100%;
}

.sticker:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#s1 {
  background-image: url(../img/sticker1.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s2 {
  background-image: url(../img/sticker2.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s3 {
  background-image: url(../img/sticker3.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s4 {
  background-image: url(../img/sticker4.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s5 {
  background-image: url(../img/sticker5.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s6 {
  background-image: url(../img/sticker6.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s7 {
  background-image: url(../img/sticker7.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s8 {
  background-image: url(../img/sticker8.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#s9 {
  background-image: url(../img/sticker9.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s10 {
  background-image: url(../img/sticker10.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s11 {
  background-image: url(../img/sticker11.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#s12 {
  background-image: url(../img/sticker12.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}


section {
  padding-top: 10vh;
  padding-bottom: 8vh;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
}

#intro {
  background-color: #5D22D2;
}

#reactions {
  background-image: url('../img/bg-reactions.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#project {
  background-color: #FFE477;
}

.project-1 {
  padding-left: 3vw;
  padding-right: 3vw;
}

.project-text {
  text-align: left;
}

.project-text-2 {
   margin-top: -8vh !important;
 }

.smaller-bubble {
  width: 80%;
  font-size: 90%;
  margin-top: 4vh;
  padding-right: 10px;
  padding-left: 10px;
}

#get_involved {
  background-color: #8FF4EB;
}

.involved-text {
  text-align: left;
}

.carousel-item img {
  width: 80% !important;
  margin: auto;
}

.carousel-control-next-icon {
  background-image: url("../img/arrow-right.svg") !important;
}

.carousel-control-prev-icon {
  background-image: url("../img/arrow-left.svg") !important;
}

.involved-text-2 {
  text-align: center;
  display: none;
}

.invisible_col_2 {
  display: none;
}

.invisible_col_3 {
  display: none;
}

.tip {
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.tip:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.help {
  color: #5D22D2;
}

.gif {
  max-width: 90% !important;
}

.contact_btn {
  margin-top: 8vh !important;
}

.contact_btn:hover {
  cursor: pointer;
}

.final-download {
  padding-top: 5%;
}

#footer {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer_about {
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 3vh;
  color: white;
  background-color: #5D2ECF;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  margin-left: 0 !important;
}

.footer-text {
  text-align: left;
  font-size: 80%;
}

.poli-logo {
  height: auto !important;
  display: table-cell !important;
  vertical-align: middle !important;
}

@media screen and (max-width: 1000px) {
  .invisible_col {
    display: none;
  }

  .invisible_col_2 {
    display: block;
    height: 5vh;
  }

  .invisible_col_3 {
    display: inherit;
    margin-top: 5vh !important;
  }

  .involved-text {
    display: none;
  }

  .involved-text-2 {
    display: block;
  }

  .download-buttons-contain {
    margin-bottom: 1vh;
  }

  .project-text-2 {
    margin-top: 5vh !important;
  }

  .footer_about div {
    text-align: center;
    padding-bottom: 3vh;
  }

  .il-sticker {
    position: absolute;
    width: 25vw;
  }

  #illustration1 {
    background-image: url("../img/sticker11.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 10%;
    left: 5%;
    transform: rotate(-20deg);
  }

  #illustration2 {
    background-image: url("../img/sticker5.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 12%;
    right: 5%;
    transform: rotate(20deg);
  }

  #illustration3 {
    background-image: url("../img/sticker2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 60%;
    right: 5%;
    transform: rotate(15deg);
  }

  .download-buttons-contain {
    bottom: 10%;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    width: 100%;
    height: 100%;
  }

}
