@font-face {
  font-family: 'Cooper Black';
  src: url('../font/cooper-black-webfont.woff') format('woff');
}

body {
  font-family: 'Inter', sans-serif;
  text-align: center;
  overflow-x: hidden;
}

.title {
  font-family: 'Cooper Black', sans-serif;
}

.subtitle {
  font-family: 'Cooper Black', sans-serif;
  font-size: 110%;
  margin-bottom: 10vh;
}

#intro .title, #intro .subtitle {
  color: #8FF4EB;
}

#set .title, #set .subtitle,
#tips .title, #tips .subtitle,
#involve .title, #involve .subtitle,
.final-download .subtitle {
  color: #5D22D2;
}

.tip-contain {
  width: 40%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.bottom_tip {
  margin-top: 8vh !important;
}

#reactions .title, #reactions .subtitle {
  color: #FFE477;
}

.bubble-contain {
}

.bubble-left {
	border-radius: 20px 20px 20px 0;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: left;
  margin-left: 10px;
  background-color: white;
}

.bubble-right {
	border-radius: 20px 20px 0 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-right: 10px;
  text-align: left;
  background-color: white;
}

.upper-margin {
  margin-top: 5vh !important;
}

.bubble p {
  margin-left: 20px;
  margin-right: 20px;
}

#project .title, #project .subtitle {
  color: #FD3B83;
}

.navbar {
  background-color: #5D22D2;
  font-family: 'Cooper Black', sans-serif;
  padding-left: 4vw;
  padding-right: 2vw;
}

.nav-link {
  color: white;
  margin-right: 4vw;
}

.nav-link:hover {
  color: #FDA028;
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.logo-contain {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #5D22D2;
  object-fit: contain;
  max-width: 40$;
}

.logo {
  width: 90%;
}

.intro-desription {
  margin-top: 5vh;
  font-size: 140%;
  font-weight: 400;
}

.buttons-contain {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-49%);
}

.sticker {
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  height: auto;
  margin: 10px;
}

.stickers-contain {
  min-width: 30px;
}

section {
  padding-top: 10vh;
  padding-bottom: 8vh;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
}

#intro {
  background-color: #5D22D2;
}

#reactions {
  background-image: url('../img/bg-reactions.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#project {
  background-color: #FFE477;
}

#involve {
  background-color: #8FF4EB;
}

.final-download {
  padding-top: 5%;
}

#footer {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer_about {
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 3vh;
  color: white;
  background-color: #5D2ECF;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  margin-left: 0 !important;
}

.footer-text {
  text-align: left;
  font-size: 80%;
}

.poli-logo {
  height: auto !important;
  display: table-cell !important;
  vertical-align: middle !important;
}

@media screen and (max-width: 1000px) {
  .invisible_col {
    display: none;
  }

  .second_tip {
    margin-top: 8vh !important;
  }
}
