@font-face {
  font-family: 'Cooper Black';
  src: url('../font/cooper-black-webfont.woff') format('woff');
}

body {
  font-family: 'Inter', sans-serif;
  text-align: center;
  overflow-x: hidden;
}

.title {
  font-family: 'Cooper Black', sans-serif;
}

.subtitle {
  font-family: 'Cooper Black', sans-serif;
  font-size: 110%;
}

#intro .title, #intro .subtitle {
  color: #8FF4EB;
}

#set .title, #set .subtitle,
#tips .title, #tips .subtitle,
#involve .title, #involve .subtitle,
.final-download .subtitle {
  color: #5D22D2;
}

#reactions .title, #reactions .subtitle {
  color: #FFE477;
}

#project .title, #project .subtitle {
  color: #FD3B83;
}

.navbar {
  background-color: #5D22D2;
  font-family: 'Cooper Black', sans-serif;
  padding-left: 4vw;
  padding-right: 2vw;
}

.nav-link {
  color: white;
  margin-right: 4vw;
}

.nav-link:hover {
  color: #FDA028;
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.logo-contain {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #5D22D2;
  object-fit: contain;
  max-width: 40$;
}

.logo {
  width: 90%;
}

.intro-desription {
  margin-top: 5vh;
  font-size: 140%;
  font-weight: 400;
}

.buttons-contain {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-49%);
}

section {
  padding-top: 10vh;
  padding-bottom: 3vh;
}

#intro {
  background-color: #5D22D2;
}

#reactions {
  background-image: url('../img/bg-reactions.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#project {
  background-color: #FFE477;
}

#involve {
  background-color: #8FF4EB;
}

.final-download {
  padding-top: 5%;
}

#footer {
  padding-bottom: 0;
}

.footer_about {
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 1vh;
  /* Set the fixed height of the footer here */
  line-height: 50px;
  /* Vertically center the text there */
  color: white;
  background-color: #5D2ECF;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
}
